<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CH_Scissor_A_Good_static_1.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {86, 120}}</string>
			<key>spriteOffset</key>
			<string>{11, 4}</string>
			<key>spriteSize</key>
			<string>{86, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 116}, {86, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_static_2.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {100, 112}}</string>
			<key>spriteOffset</key>
			<string>{4, 8}</string>
			<key>spriteSize</key>
			<string>{100, 112}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 0}, {100, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_static_3.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {112, 120}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{112, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>CH_Scissor_A_Good_static.pvrtc</string>
			<key>textureFileExtension</key>
			<string>.pvrtc.ccz</string>
			<key>coordinatesFileName</key>
			<string>CH_Scissor_A_Good_static</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>