<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CH_Paper_A_Devil_idle_3.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {224, 240}}</string>
			<key>spriteOffset</key>
			<string>{-7, 8}</string>
			<key>spriteSize</key>
			<string>{224, 240}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 0}, {224, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {222, 240}}</string>
			<key>spriteOffset</key>
			<string>{-7, 8}</string>
			<key>spriteSize</key>
			<string>{222, 240}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 236}, {222, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {222, 236}}</string>
			<key>spriteOffset</key>
			<string>{-5, 10}</string>
			<key>spriteSize</key>
			<string>{222, 236}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 240}, {222, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {218, 236}}</string>
			<key>spriteOffset</key>
			<string>{-5, 10}</string>
			<key>spriteSize</key>
			<string>{218, 236}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 476}, {218, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {218, 234}}</string>
			<key>spriteOffset</key>
			<string>{-3, 11}</string>
			<key>spriteSize</key>
			<string>{218, 234}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 710}, {218, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {216, 236}}</string>
			<key>spriteOffset</key>
			<string>{-4, 10}</string>
			<key>spriteSize</key>
			<string>{216, 236}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 476}, {216, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {218, 232}}</string>
			<key>spriteOffset</key>
			<string>{-2, 12}</string>
			<key>spriteSize</key>
			<string>{218, 232}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 476}, {218, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {218, 234}}</string>
			<key>spriteOffset</key>
			<string>{-4, 11}</string>
			<key>spriteSize</key>
			<string>{218, 234}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 712}, {218, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {218, 236}}</string>
			<key>spriteOffset</key>
			<string>{-4, 10}</string>
			<key>spriteSize</key>
			<string>{218, 236}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 474}, {218, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {222, 234}}</string>
			<key>spriteOffset</key>
			<string>{-5, 11}</string>
			<key>spriteSize</key>
			<string>{222, 234}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 240}, {222, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {224, 236}}</string>
			<key>spriteOffset</key>
			<string>{-7, 10}</string>
			<key>spriteSize</key>
			<string>{224, 236}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 0}, {224, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_3.22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {226, 240}}</string>
			<key>spriteOffset</key>
			<string>{-6, 8}</string>
			<key>spriteSize</key>
			<string>{226, 240}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {226, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvrtc.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>