<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CH_Paper_A_Devil_idle_1.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {92, 118}}</string>
			<key>spriteOffset</key>
			<string>{12, 5}</string>
			<key>spriteSize</key>
			<string>{92, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 362}, {92, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {92, 116}}</string>
			<key>spriteOffset</key>
			<string>{12, 6}</string>
			<key>spriteSize</key>
			<string>{92, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 121}, {92, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {94, 116}}</string>
			<key>spriteOffset</key>
			<string>{13, 6}</string>
			<key>spriteSize</key>
			<string>{94, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 0}, {94, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{12, 6}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 241}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {96, 114}}</string>
			<key>spriteOffset</key>
			<string>{11, 7}</string>
			<key>spriteSize</key>
			<string>{96, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 360}, {96, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {96, 114}}</string>
			<key>spriteOffset</key>
			<string>{12, 7}</string>
			<key>spriteSize</key>
			<string>{96, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 238}, {96, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {98, 116}}</string>
			<key>spriteOffset</key>
			<string>{11, 6}</string>
			<key>spriteSize</key>
			<string>{98, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 120}, {98, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {98, 116}}</string>
			<key>spriteOffset</key>
			<string>{11, 6}</string>
			<key>spriteSize</key>
			<string>{98, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 0}, {98, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {98, 116}}</string>
			<key>spriteOffset</key>
			<string>{13, 6}</string>
			<key>spriteSize</key>
			<string>{98, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 242}, {98, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 0}, {96, 118}}</string>
			<key>spriteOffset</key>
			<string>{13, 5}</string>
			<key>spriteSize</key>
			<string>{96, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 362}, {96, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {94, 116}}</string>
			<key>spriteOffset</key>
			<string>{11, 6}</string>
			<key>spriteSize</key>
			<string>{94, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 121}, {94, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Paper_A_Devil_idle_1.22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 0}, {92, 116}}</string>
			<key>spriteOffset</key>
			<string>{13, 6}</string>
			<key>spriteSize</key>
			<string>{92, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {92, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvrtc.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>