<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 101}, {94, 100}}</string>
			<key>spriteOffset</key>
			<string>{2, -23}</string>
			<key>spriteSize</key>
			<string>{94, 100}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 580}, {94, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{81, 88}, {96, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -15}</string>
			<key>spriteSize</key>
			<string>{96, 110}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 612}, {96, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 68}, {102, 132}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{102, 132}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 580}, {102, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 55}, {110, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{110, 144}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 436}, {110, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 38}, {138, 176}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{138, 176}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 436}, {138, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 24}, {136, 178}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{136, 178}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 426}, {136, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 11}, {138, 200}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{138, 200}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 0}, {138, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 0}, {146, 214}}</string>
			<key>spriteOffset</key>
			<string>{3, 21}</string>
			<key>spriteSize</key>
			<string>{146, 214}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 212}, {146, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 0}, {148, 216}}</string>
			<key>spriteOffset</key>
			<string>{3, 20}</string>
			<key>spriteSize</key>
			<string>{148, 216}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 212}, {148, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 0}, {156, 206}}</string>
			<key>spriteOffset</key>
			<string>{9, 25}</string>
			<key>spriteSize</key>
			<string>{156, 206}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 230}, {156, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 0}, {182, 212}}</string>
			<key>spriteOffset</key>
			<string>{10, 22}</string>
			<key>spriteSize</key>
			<string>{182, 212}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 0}, {182, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Devil_bringToLife_3.22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {214, 230}}</string>
			<key>spriteOffset</key>
			<string>{6, 13}</string>
			<key>spriteSize</key>
			<string>{214, 230}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {214, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvrtc.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>