<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 95}, {96, 106}}</string>
			<key>spriteOffset</key>
			<string>{2, -20}</string>
			<key>spriteSize</key>
			<string>{96, 106}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 422}, {96, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 86}, {98, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -16}</string>
			<key>spriteSize</key>
			<string>{98, 116}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 594}, {98, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 72}, {100, 132}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{100, 132}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 594}, {100, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 55}, {108, 150}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{108, 150}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 444}, {108, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 38}, {134, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{134, 176}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 420}, {134, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 24}, {138, 182}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{138, 182}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 0}, {138, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 10}, {138, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 17}</string>
			<key>spriteSize</key>
			<string>{138, 202}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {138, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 0}, {142, 214}}</string>
			<key>spriteOffset</key>
			<string>{2, 21}</string>
			<key>spriteSize</key>
			<string>{142, 214}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 206}, {142, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 0}, {144, 214}}</string>
			<key>spriteOffset</key>
			<string>{4, 21}</string>
			<key>spriteSize</key>
			<string>{144, 214}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 230}, {144, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 0}, {154, 206}}</string>
			<key>spriteOffset</key>
			<string>{7, 25}</string>
			<key>spriteSize</key>
			<string>{154, 206}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {154, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 0}, {152, 216}}</string>
			<key>spriteOffset</key>
			<string>{11, 20}</string>
			<key>spriteSize</key>
			<string>{152, 216}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 206}, {152, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CH_Scissor_A_Good_bringToLife_1.22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 0}, {168, 230}}</string>
			<key>spriteOffset</key>
			<string>{16, 13}</string>
			<key>spriteSize</key>
			<string>{168, 230}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {168, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.pvrtc.ccz</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>